
*{
	padding: 0;
	margin: 0;
}
.btn{
	border: 1px crimson solid;
	border-radius: 10px;
	margin: 2% 5%;
	width: 20%;
	height: 80px;
	line-height: 80px;
	background-color: crimson;
	list-style: none;
	float: left;
	text-align: center;
	box-shadow:2px 4px 6px darkred;
}
.btn:hover{
	background-color: darkred;
}
a{
	color:#2aabd2;
	font-size: 20px;
	text-decoration: none;
}
.pdtn{
	position: relative;
	width: 30%;
	height: 90%;
	margin: 2% 2% 2% 5%;
	border: 1px red solid;
	float: left;
}
.htl{
	position: relative;
	width: 55%;
	height: 90%;
	margin: 2% 2% 2% 5%;
	border: 1px red solid;
	float: left;
}
.html1{
	position: relative;
	width: 100%;
	height: 100%;
}
.l1{
	position: relative;
	height: 90%;
	width: 80%;
	margin: 2%;
	border:1px red solid ;
	float: left;
}
.t1{
	position: relative;
	height: 20%;
	width: 98%;
	margin: 1%;
	border: 1px crimson solid;
}
.b1{
	height: 70%;
	width: 98%;
	margin: 1%;
	border: 1px crimson solid;
}
.r1{
	position: relative;
	border: 1px crimson solid;
	float: left;
	height: 90%;
	width: 13%;
	margin: 1%;

}
.r2{
	position: relative;
	height: 90%;
	width:100%;
	border: 1px crimson solid;
	overflow: scroll;
}