html{
    width: 100vw;
    height: 100vh;
}
body,table{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.img-circle{
    height: 100%;
}
#main {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#head {
    width: 100%;
    height: 100%;
    background-color: rgb(168, 5, 11);
    line-height: 100%;
    margin: 0px;
}
#user_portrait {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 5%;
    top: 50%;
    transform: translateY(-25px);
}
#user_name {
    margin-top: 12.5px;
    margin-left: 20px;
    text-decoration: none;
    color: cadetblue;
}

#main_information {
    display: flex;
    flex-direction: row;
    height: inherit;
}

#side_information {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: rgb(30, 34, 45);
}

.nav_name {
    width: 100%;
    height: 70px;
    background-color: rgb(30, 34, 45);
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.nav_list {
    width: 100%;
    flex: 1;
}

.nav_list a {
    display: block;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(188, 191, 196);
}

#select {
    background-color: rgba(168, 5, 11, .9);
    color: white;
    box-shadow: 5px 5px 10px black;
}

.nav_list a:hover {
    background-color: rgba(255, 255, 255, .2);
}

#main_content {
    width: 80%;
    height: 100%;
    margin: 0px;
    box-shadow: 5px 5px 20px rgb(98, 101, 108);
}

#pull-down-menu1 {
    height: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.2);
    transition: 1s;
}
#pull-down-menu2 {
    height: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.2);
    transition: 1s;
}
#pull-down-menu3 {
    height: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.2);
    transition: 1s;
}
.zhglHead {
    display: block;
    height: 50px;
    width: 100%;
    line-height: 50px;
    padding-left: 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    font-weight: bold;
}
@keyframes zhglHead {
    from {
        opacity: 0;
    }
    to {
        height: auto;
        opacity: 1;
    }
}
